ul {
    padding-left: 1.5rem;
  }

h1 {
    text-align:center;
}

h5 {
    text-align:center;
}

img {
    margin-left: 17.2rem;
}

#MainMenu {
    visibility: hidden;
}
footer {
    visibility: hidden;
}
header {
    visibility: hidden;
}

[data-testid="stImage"] {
    display: block;
    margin: 0 auto;
}

@media (max-width: 768px) {
    [data-testid="stImage"] img {
        max-width: 250px !important;
    }
}
