ul {
    padding-left: 1.5rem;
}

h1 {
    text-align: center;
}

h5 {
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
}

#MainMenu {
    visibility: hidden;
}

footer {
    visibility: hidden;
}

header {
    visibility: hidden;
}

[data-testid="stImage"] {
    display: block;
    margin: 0 auto;
}

[data-testid="stImage"] img {
    width: 250px !important;
}

@media (max-width: 768px) {
    [data-testid="stImage"] img {
        width: 200px !important;
    }
}

/* Hide mobile nav on desktop */
@media (min-width: 768px) {
    div[data-testid="stSelectbox"] {
        display: none;
    }
}

/* Hide desktop nav on mobile */
@media (max-width: 767px) {
    div[data-testid="column"] {
        display: none;
    }
}
